AuthorizedKeysFile  %h/.ssh/authorized_keys
ChallengeResponseAuthentication no
Ciphers aes256-ctr
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_rsa_key
IgnoreRhosts yes
LoginGraceTime 60
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
Protocol 2
PubkeyAuthentication yes
RSAAuthentication no
StrictModes yes
Subsystem sftp /usr/lib/openssh/sftp-server
TCPKeepAlive yes
UseDNS no
UsePAM no
UsePrivilegeSeparation yes

